In [19]:
import numpy as np 
import pandas as pd 
from sklearn.naive_bayes import GaussianNB

In [21]:
data_train = pd.read_csv('play_tennis.csv')

In [22]:
le = preprocessing.LabelEncoder()
data_train_df = pd.DataFrame(data_train)
data_train_df_encoded = data_train_df.apply(le.fit_transform)

In [35]:
data_train_df_encoded

    day  outlook  temp  humidity  wind  play
0     0        2     1         0     1     0
1     6        2     1         0     0     0
2     7        0     1         0     1     1
3     8        1     2         0     1     1
4     9        1     0         1     1     1
5    10        1     0         1     0     0
6    11        0     0         1     0     1
7    12        2     2         0     1     0
8    13        2     0         1     1     1
9     1        1     2         1     1     1
10    2        2     2         1     0     1
11    3        0     2         0     0     1
12    4        0     1         1     1     1
13    5        1     2         0     0     0

In [39]:
x_train = data_train_df_encoded.drop(['play','day'],axis=1)
y_train = data_train_df_encoded['play']

In [44]:
x_train

    outlook  temp  humidity  wind
0         2     1         0     1
1         2     1         0     0
2         0     1         0     1
3         1     2         0     1
4         1     0         1     1
5         1     0         1     0
6         0     0         1     0
7         2     2         0     1
8         2     0         1     1
9         1     2         1     1
10        2     2         1     0
11        0     2         0     0
12        0     1         1     1
13        1     2         0     0

In [77]:
xtest = [[2 , 2 , 0, 1]]
x_test = pd.DataFrame(xtest, columns=['outlook', 'temp','humidity','wind'])
x_test

   outlook  temp  humidity  wind
0        2     2         0     1

In [72]:
ytest = [0]
y_test = pd.DataFrame(ytest, columns=['play'])
y_test

   play
0     0

In [78]:
model = GaussianNB()
nbtrain = model.fit(x_train, y_train)
y_pred = nbtrain.predict(x_test)
y_pred[0]

0